################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/DynamicTypeGenerator/v15
/src/packages
/src/DynamicTypeGenerator/bin
/src/DynamicTypeGenerator/obj
/src/DynamicTypeGenerator.Test/obj
/src/DynamicTypeGenerator.Test/bin
